.footer-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-size: 52px;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: aqua;
    color: aliceblue;
    padding-right: 5rem;
  }
  
  .footer-title {
    margin-left: 5rem;
    font-family: 'Times New Roman', Times, serif;
  }

  .social-icon {
    font-size: x-large;
    margin: 1rem;
  }

  .youtube-icon {
    color: red;
  }
  
  .spotify-icon {
    color: rgb(18, 223, 18);
  }
  
  .facebook-icon {
    color: blue;
  }
  
  