.title {
    background-color: grey;
    color: azure;
    height: 28vh;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-bottom: 1rem;
    /* margin-top: 3rem; */
}